body {
	margin: 0;
	background-color: whitesmoke;
	font-family: Georgia;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #373A40;
	color: white;
}

header h1 {
	margin: 10px;
}

header h2 {
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: #373A40;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: auto;
	background-color: #A4AEBF;
}
nav ul {
	text-decoration: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0px 10px;

}

nav ul li a {
	color: whitesmoke;
}

li a {
	text-decoration: none;
}

#container {
	width: 100%;
}

section {
	width: 50%;
	max-width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #373A40;
}

section h2 {
	margin-bottom: 5px;
}

section em {
	font-weight: bolder;
	font-size: 85%;
	float: right;
}

aside {
	display: flex;
	margin-top: 20px;
}

.bio {
	display: flex;
	flex-direction: column;
	text-align: justify;
}

aside p {
	margin: 10px;
}

aside em {
	float: none;
}

aside a {
	float: right;
	margin-right: 10px;
}

.last_chapter {
	border: 1px solid #6D747F;
	border-radius: 10px;
	padding: 10px;
	padding-top: 0px;
	text-align: justify;
}

.all_chapters {
	border: 1px solid #6D747F;
	padding: 10px;
	margin: 10px 0;
	text-align: justify;
}

.all_chapters:hover {
	background-color: #6D747F;
	color: white;
}

.chapitresLien {
	text-decoration: none;
	background-color: transparent;
	color: #373A40;
}

.date_creation {
	float: right;
	font-size: 70%;
}

#titre {
	text-align: center;
	margin-bottom: 10px;
}

#contenu {
	text-align: justify;
	width: 525px;
	margin: auto;
}

#date_creation {
	text-align: right;
	width: 500px;
	margin: auto;
	padding-top: 10px;
}

#formCommentary {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#auteur {
	width: 165px;
	padding: 3px;
}

#text_commentary {
	outline: none;
	overflow: auto;
	border: 0 solid transparent;
	padding: 10px;
	height: 120px;
	width: 100%;
	resize: none;
}

#envoyer {
	width: 100px;
}

.error {
	color: red;
}

.zone_commentary {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.all_commentary {
	margin: 5px 0;
	padding: 10px;
	border: thin solid #CCC;
	border-radius: 5px;
}

#date_commentaire {
	float: right;
	font-size: 75%;
	margin: 0px;
}

footer {
	display: flex;
	text-align: center;
	margin-top: 50px;
	height: 60px;
	background-color: #373A40;
	color: white;
}

footer p {
	margin: auto;
}